/* Variables */
:root {
	--main-gap: 20px;
	--main-padding: 20px;

	--main-color: #0075ff;
	--main-color-alt: #066feb;
	--main-color-green: #22c55e;
	--main-color-yellow: #f59e0b;
	--main-color-red: #f44336;

	--main-color-shade: 0, 117, 255;
	--main-color-green-shade: 34, 197, 94;
	--main-color-yellow-shade: 245, 158, 11;
	--main-color-red-shade: 244, 67, 54;

	--secondary-color: #eee;
}
/* Variables */
/* Global Rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "cairo", sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/* Global Rules */
/* Components */
.main-title {
	font-size: 36px;
	padding: 0 0 10px;
	margin: 0 0 30px;
	width: fit-content;
	position: relative;
}
.main-title::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 3px;
	background-color: white;
	left: 0;
	width: 100%;
}
.main-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 3px;
	background-color: black;
	left: 0;
	width: 50px;
}

.section {
	background-color: white;
	border-radius: 10px;
	padding: var(--main-padding);
}

.section-title {
	font-size: 30px;
	margin-bottom: 10px;
}

.section-subtitle {
	color: #777;
	margin-bottom: 20px;
}

.btn {
	display: block;
	width: fit-content;
	color: white;
	padding: 4px 10px;
	border: none;
	border-radius: 5px;
}
/* Components */
/* framework Classes */
@media (max-width: 767px) {
	.mobile-none {
		display: none;
	}
}
/* framework Classes */
/* Page */
.page {
	display: flex;
}
.page__content {
	flex: 1;
}
main {
	padding: 20px;
	background-color: #f1f5f9;
}
/* Page */
/* Aside */
aside {
	width: 220px;
	box-shadow: 3px 0 7px rgba(0, 0, 0, 0.1);
	position: relative;
	padding: 20px;
	min-height: 100svh;
}
@media (max-width: 767px) {
	aside {
		width: 80px;
		padding: 10px;
		text-align: center;
	}
}
.logo {
	width: fit-content;
	margin: 0 auto 20px;
	padding: 0 10px 20px;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
@media (max-width: 767px) {
	.logo {
		font-size: 16px;
		margin: 10px 0;
	}
}
@media (min-width: 768px) {
	.logo::before {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: black;
	}
	.logo::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background-color: black;
		transform: translateX(-50%) translateY(calc(50% - 1px));
		border: 5px solid white;
	}
}
.aside__links {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: sticky;
	top: 20px;
}
.aside__links li a {
	display: block;
	padding: 10px 5px;
	color: black;
	transition: background-color 0.3s;
	border-radius: 5px;
}
.aside__links li a:hover,
.aside__links li.active a {
	background-color: #f6f6f6;
}
.aside__links li a i {
	width: 30px;
	text-align: center;
}
/* Aside */
/* Header */
.header {
	padding: 15px;
	display: flex;
	align-items: center;
	background-color: white;
}
.header__search {
	margin-right: auto;
	position: relative;
}
.header__search::before {
	content: "\f002";
	font-family: "font awesome 5 free";
	font-weight: 900;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.header__search-input {
	padding: 10px 10px 10px 35px;
	border-radius: 10px;
	font-size: 14px;
	width: 170px;
	transition: width 0.3s;
}
.header__search-input:focus,
.header__search-input:active {
	width: 200px;
	outline: none;

	&::placeholder {
		opacity: 0;
	}
}
.header__notification {
	font-size: 20px;
	margin-right: 20px;
	position: relative;
}
.header__notification::after {
	content: "";
	position: absolute;
	background-color: red;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	right: -2px;
	top: -5px;
}
.header__profile {
	width: 30px;
}
/* Header */
