/* Main */
.main-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
}
/* Main */
/* Welcome */
.welcome {
	background-color: white;
}
.welcome__header {
	background-color: #eee;
	display: flex;
	justify-content: space-between;
	padding: var(--main-padding);
	margin-bottom: 50px;
	position: relative;
}
.welcome__image {
	height: 100px;
}
.welcome__header .image-circle {
	position: absolute;
	width: 60px;
	bottom: -30px;
	left: 20px;
}
.welcome__header .image-circle img {
	max-width: 100%;
}
.welcome__stats {
	display: flex;
	justify-content: space-around;
	padding: var(--main-padding);
	border-block: 1px solid #eee;
	text-align: center;
}
.welcome__stats .value {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 18px;
}
.welcome__stats .property {
	color: #777;
}
.welcome__profile-btn {
	display: block;
	width: fit-content;
	margin: 20px 10px 20px auto;
	background-color: var(--main-color);
	color: white;
	padding: 5px 8px;
	border: none;
	border-radius: 5px;
}
/* Welcome */
