/* Main */
.main-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	margin-bottom: 20px;
}
@media (max-width: 768px) {
	.main-content {
		grid-template-columns: 1fr;
	}
}
/* Main */
/* Control */
.control__setting {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.control .setting-name {
	font-weight: 500;
	margin-bottom: 5px;
	font-size: 17px;
}
.control .setting-description {
	font-size: 14px;
	color: #777;
}
.setting-checkbox {
	display: none;
}
.toggle-switch {
	height: 30px;
	width: 70px;
	background-color: #ccc;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: relative;
}
.toggle-switch::before {
	content: "\f00d";
	font-family: var(--fa-style-family-classic);
	font-weight: 900;
	background-color: white;
	color: #ccc;
	position: absolute;
	left: 5px;
	height: 21px;
	top: 5px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: left 0.3s, color 0.3s;
}
.setting-checkbox:checked + .toggle-switch {
	background-color: var(--main-color);
}
.setting-checkbox:checked + .toggle-switch::before {
	color: var(--main-color);
	left: 45px;
	content: "\f00c";
}
.control-input {
	resize: none;
	width: 100%;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px;
	font-size: 14px;
	line-height: 1;
	font-family: monospace;
}
/* Control */
/* Settings */
.info input {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #aaa;
}
.info > input {
	margin-bottom: 20px;
}
.info .email-change {
	display: flex;
	align-items: center;
	gap: 20px;
}
.info .email-change .info-change {
	font-size: 18px;
	color: var(--main-color);
}
.info .email-change .email-input {
	background-color: #f0f4f8;
	cursor: not-allowed;
}
.info label {
	margin-bottom: 10px;
	display: block;
}
/* Settings */
/* Security */
.security .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 20px;

	&:not(:last-child) {
		border-bottom: 1px solid #ccc;
	}
}
.security .box .name {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 5px;
}
.security .box .description {
	font-size: 14px;
	color: #777;
}
.security .box .change {
	background-color: var(--main-color);
}
.security .box .devices {
	background-color: #eee;
	color: black;
}
/* Security */
/* Social Info */
.social .wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.social .wrapper .box {
	display: flex;
}
.social .wrapper .box .icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-right: none;
	color: #777;
	transition: color 0.3s, border-color 0.3s;
}
.social .wrapper .box input {
	flex: 1;
	height: 40px;
	padding-inline: 10px;
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 14px;
	transition: border-color 0.3s;
}
.social .wrapper .box input:focus,
.social .wrapper .box input:active {
	outline: none;
	border-color: black;
}
.social .wrapper .box:focus-within {
	.icon {
		border-color: black;
		color: black;
	}
}
/* Social Info */
/* Widgets */
.widgets .box:not(:last-child) {
	margin-bottom: 15px;
}
.widgets .box .checkbox {
	display: none;
}
.widgets .box label {
	font-size: 20px;
	cursor: pointer;
	padding-left: 30px;
	position: relative;
}
.widgets .box label::before {
	content: "";
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #aaa;
	top: 50%;
	translate: 0 -50%;
	border-radius: 4px;
}
.widgets .box label::after {
	content: "\f00c";
	font-family: var(--fa-style-family-classic);
	font-weight: 900;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 0;
	background-color: var(--main-color);
	width: 16px;
	height: 16px;
	top: 50%;
	translate: 0 -50%;
	border-radius: 4px;
	transform: scale(0) rotate(360deg);
	transition: transform 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.widgets .box .checkbox:checked + label::after {
	transform: scale(1) rotate(0);
}
/* Widgets */
/* Backup */
.backup input {
	display: none;
}
.backup .time label {
	margin-block: 15px;
	padding-left: 30px;
	position: relative;
	width: fit-content;
}
.backup .time label::before,
.backup .time label::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}
.backup .time label::before {
	border: 1px solid #aaa;
	width: 20px;
	height: 20px;
	left: 0;
	transition: border-color 0.3s;
}
.backup .time label::after {
	background-color: var(--main-color);
	width: 10px;
	height: 10px;
	left: 5px;
	transition: scale 0.3s;
	transform-origin: top;
	scale: 0;
}
.backup .time input:checked + label::before {
	border-color: var(--main-color);
}
.backup .time input:checked + label::after {
	scale: 1;
}
.backup label {
	display: block;
	font-size: 20px;
	cursor: pointer;
}
.backup .host {
	display: flex;
	gap: 10px;
}
@media (max-width: 767px) {
	.backup .host {
		flex-direction: column;
	}
}
.backup .host label {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 20px 0;
	transition: color 0.3s, border-color 0.3s;
}
.backup .host input:checked + label {
	color: var(--main-color);
	border-color: var(--main-color);
}

/* Backup */
